<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[EricksonLopez.DomainPrimitives.Generators]EricksonLopez.DomainPrimitives.Generators.Models.*,[EricksonLopez.DomainPrimitives.Generators]EricksonLopez.DomainPrimitives.Generators.GeneratorHelpers,[EricksonLopez.DomainPrimitives.Generators]EricksonLopez.DomainPrimitives.Generators.SourceBuilder</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
